/* styles.css - Estilos básicos do site */

/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo do documento */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}

/* Estilos para o cabeçalho e navegação */
header {
    background: #35424a;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #e8491d;
}

/* Estilos para o rodapé */
footer {
    background: #35424a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Estilos para o formulário de contato */
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
}

form label {
    margin-bottom: 5px;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #35424a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #e8491d;
}


.text-large {
    font-size: 30px; /* Define o tamanho da fonte para 24 pixels */
}

